<div class="row">
    <div class="col">
        <ng-select
            [loading]="loading"
            [items]="datas"
            [multiple]="multiple"
            [bindLabel]="bindLabel"
            [bindValue]="bindValue"
            [placeholder]="placeholder"
            loadingText="Chargement en cours..."
            [notFoundText]="notFoundText"
            [(ngModel)]="currentValue"
            (change)="selectChange()"
            (clear)="clearClick()"
            (search)="onSearchInput($event)">
        </ng-select>
    </div>
    <div class="col-auto" *ngIf="showCancelBtn">
        <button type="button" class="btn btn-outline-primary no-border" (click)="clearClick()">Annuler</button>
    </div>
</div>
